liste des jeux 
- Jeu en 2d (petit personnage(vercingétorix)qui doit traverser les régions d Auvergne pour collecter les fromages)
- Description des fromages puis dégastion à l aveugle
- Laboratoire de fromage, dans un lab de dexter tu as a disposition pleins de choses qui tourne autour du fromage et au fur et à mesure des étapes tu débloques pleins dobjet pour au final créer son fromage
- "trivial poursuite autour du fromage" il y a des cartes sur celle-ci il y a des questions autour du fromage et sa culture. Lorsqu une personne répond juste alors celui-ci à le droit de manger du fromage 
- Les gardiens de la lactogalaxy (c est un jeu du fromage qui se déroule dans un univers similaire à Star Wars le joueur visite plusieurs planètes dans lesquelles il apprends des méchanismes de fabrication du fromage ainsi qu un arctéphacte une fois toutes les planets visitées il peut reconstituer un objet pour vaincre l empire Bell )


Jeu retenus le dernier

# Auto detect text files and perform LF normalization
* text=auto
